body, html{
	height: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/* Parralex animation */
.fixed{
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.bg-1{
	background-image: url('../img/desktop.png');
}

.bg-2{
	background-image: url('../img/desktop-1.png');
	height: 800px;
}


/* End of Parallax animation */

.scroll{
	min-height: 100%;
}

.green{
	min-height: 50%;
	max-height: 200%;
	height: 60%;
}
.blue{
	max-height: 250%;
	height: 1300px;
}

.container{
	padding-top: 30px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.card, .card-title{
	color: #bbb;
}

.logo{
	width: 25%;
	height: 25%;
}
footer.page-footer{
	margin-top: 0;
	padding-top: O;
}

.footer-copyright{
	padding-left: 20px;
}

.sn{
	vertical-align: 9px;
	font-weight: bolder;
}

.aboutImg{
	border: 5px solid rgba(255, 255, 255, .7);
	border-radius: 100%;
	margin-left: 10px;
	text-align: center;
	-webkit-transition: all 500ms ease;
	   -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
            transition: all 500ms ease;
}

.aboutImg:hover{
	border-radius: 2px;
}


/* Media Query for devices */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.logo{
		width: 50%;
		height: 50%;
	}
	h1{
		font-size: 35px;
	}
	.bg-2{
		height: 250%;
		font-size: 15px;
	}
	.bg-2 img{
		width: 84px;
		height: 84px;
	}
	.bg-2 h3{
		font-size: 1rem;
	}
	.bg-2 .col{
		margin-top: 15px;
	}
	body{
		font-size: 12px;
	}
	.card.small{
		height: 100px;
	}
	.card.small h1{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin: 0rem 0px 0rem;
	}
	.mdi-navigation-close{
		display: none;
	}
	.card .card-content .card-title {
    line-height: 8px;
	}
	.card .card-title {
    font-size: 14px;
    font-weight: bold;
	}
	.green{
		height: 100%;
	}
	.blue{
		height: 210%;
	}
}
@media only screen
and (min-device-width : 481px)
and (max-device-width : 1100px) {
	
	body{
		font-size: 15px;
	}
	h1{
		font-size: 35px;
	}
	.bg-2{
		height: 250%;
		font-size: 15px;
	}
	.bg-2 img{
		width: 84px;
		height: 84px;
	}
	.bg-2 h3{
		font-size: 1rem;
	}
	.bg-2 .col{
		margin-top: 15px;
	}
	body{
		font-size: 12px;
	}
	.card.small{
		height: 100px;
	}
	.card.small h1{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin: 0rem 0px 0rem;
	}
	.mdi-navigation-close{
		display: none;
	}
	.card .card-content .card-title {
    line-height: 8px;
	}
	.card .card-title {
    font-size: 14px;
    font-weight: bold;
	}
	.green{
		height: 100%;
	}
	.blue{
		height: 210%;
	}
}

