html, body{
	color: #c60f13;
	background-color: #e9e9e9;
	font-size: 20px;
	padding-top: 50px;
}

footer{
	color: #e9e9e9;
	background-color: #c60f13;
	bottom: 0px;
	position: relative;
	padding-bottom: 10px;
	padding-left: 20px;
	height: 50px;
}

.top-bar{
	color: #e9e9e9;
	background-color: #c60f13;
	height: 50px;
}
.top-bar a, [data-aside] a{
	color: #fff;
}
.input-search{
	padding-top: 0px;
	margin: 0px;
}

.resize{
	width: 200px;
	height: 50px;
	margin-right: 5px;
}

.center{
	text-align: center;
}

.posts{
	margin-right: 20px;
}

[data-aside]{
	padding-left: 20px;
	padding-top: 5px;
	background-color: #c60f13;
	height: 50px;
	width: 100%;
	color: #e9e9e9;
	position: absolute;
	top: -100px;
}

[data-ng-view]{
	padding-left: 20px;
}

.posts-list:hover{
	-webkit-transform: rotate(1deg);
	      -moz-transform: rotate(1deg);
	         -ms-transform: rotate(1deg);
	             -o-transform: rotate(1deg);
	                   transform: rotate(1deg);
}

.backimg{
	background: url('../media/images/cover.jpg');
}

.backimg h1, .contactimg h1{
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	bottom: 0px;
	width: 100%;
	padding: 20px;
	position: absolute;
	text-align: center;
}

.backimg h1:hover{
	background-color: rgb(0, 0, 0);
}

.backimg .close1{
	margin: 20px;
}

.close1{
	font-size: 20px;
	background-color: #fff;
	text-align: center;
	padding: 8px;
	height: 40px;
	width: 40px;
}

.aboutimg{
	background: url('../media/images/aboutcover.jpg');
	padding: 20px;
}

.contactimg{
	background: url('../media/images/contactcover.jpg');
}

.contactimg h1:hover{
	background-color: rgb(0, 0, 0);
}

.contactimg .close1{
	margin: 20px;
}

.backimg, .aboutimg, .contactimg{
	background-size: 100% 300px;
	margin-right: 20px;
	text-align: center;
	height: 300px;
	position: relative;
	width: 98%;
}

.me{
	border-radius: 150px;
}

.findme{
	margin-top: 50px;
}

.fi-social-facebook{
	color: #084CF2;
}
.fi-social-twitter{
	color: #08D6F2;
}
.fi-social-google-plus{
	color: #F01E19;
}
.fi-social-github{
	color: #000;
}

.social{
	text-align: center;
}

.shadow:hover{
	box-shadow: 0 0 15px #4C9ED9;
}


/* Media Query for devices */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	[data-aside]{
		height: 100px;
	}
	.th{
		width: 156px;
	}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 1100px) {
	[data-aside]{
		height: 100px;
	}
	.th{
		width: 256px;
	}
}