<div>
	<div class="aboutimg">
		<a class="close1 right" href="#"><span class="fi-x"></span></a>
		<img class="th me" src="http://gravatar.com/avatar/49c00cf0e69dbf68edb542c86cbe40c0.jpg?s=256">
	</div>
	<div class="row">
		<div class="columns large-9 small-12">
			<blockquote>
				I'm a 26 year old Open Source developer and translator from Morocco.<br>
				My passion is all about contributing in Open Source projects. I always do thing in my very own way.<br>
				<h4>Skills??</h4>
				<p>
					If you ask about my skills?<br>
					Sooo let me think, hmmmm???? <img src="media/images/sweat.png" alt="sweat"><br>
					I think I have some <img src="media/images/shame.png" alt="shy"><br>
					I <i class="fi-heart"></i> AngularJS, HTML5/CSS3, Python Gtk3, Javascript, Twitter Bootstrap, Foundation<br>
					I wanna to learn more about Ruby on Rails is really Awesome<br>
					And finally I do know how to make C# Forms Applications<br>
					And That's all I think.
				</p>
			</blockquote>
		</div>
		<div class="columns large-3 small-12">
			<aside class="findme panel">
				<h4>Find me Here!</h4>
				<ul class="no-bullet">
					<li><a href="https://www.facebook.com/herr.linux88"><span class="fi-social-facebook"></span> Facebook</a></li>
					<li><a href="https://twitter.com/herr_linux"><span class="fi-social-twitter"> Twitter</span></a></li>
					<li><a href="https://plus.google.com/+%D9%83%D8%B1%D9%8A%D9%85%D8%A3%D9%88%D9%84%D8%A7%D8%AF%D8%A7%D9%84%D8%B4%D9%84%D8%AD%D8%A9/posts"><span class="fi-social-google-plus"> Google+</span></a></li>
					<li><a href="https://github.com/karim88"><span class="fi-social-github"> Github</span></a></li>
				</ul>
			</aside>
		</div>
	</div>
</div>