<div>
	<div class="contactimg">
		<a class="close1 right" href="#"><span class="fi-x"></span></a>
		<h1>Comtact me!</h1>
	</div>
	<div class="row">
		<div  class="panel columns large-3">
			Facebook
			<div class="switch round large">
				<input id="Facebook" type="radio" name="social" data-ng-model="social" value="Facebook">
				<label for="Facebook"></label>
			</div>
		</div>
		<div  class="panel columns large-3">
			Goolge+
			<div class="switch round large">
				<input id="Google" type="radio" name="social" data-ng-model="social" value="Google">
				<label for="Google"></label>
			</div>
		</div>
		<div  class="panel columns large-3">
			Twitter
			<div class="switch round large">
				<input id="Twitter" value="Twitter" type="radio" name="social" data-ng-model="social">
				<label for="Twitter"></label>
			</div>
		</div>
		<div  class="panel columns large-3">
			Disqus
			<div class="switch round large">
				<input id="Disqus" type="radio" name="social" data-ng-model="social" value="Disqus" checked>
				<label for="Disqus"></label>
			</div>
		</div>
	</div>
	<div data-ng-include="'posts/social/'+social+'.html'"></div>
</div>