@import 'palette';

.loader{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: inline-block;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	&:after, &:before{
		content: '';
		display: block;
		width: 150px;
		height: 150px;
	}
	.circle1{
		position: absolute;
		top: 50%;
		left: 0;
			right: 0;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		border: 4px solid transparent;
		border-top: 4px solid $primary;
		animation: anim1 2s linear 0s infinite;
	}
	.circle2{
		position: absolute;
		top: calc(50% - 10px);
		left: 0;
			right: 0;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		padding: 10px;
		border: 4px solid transparent;
		border-right: 4px solid $secondary;
		animation: anim2 2s linear 0s infinite;
	}
	.circle3{
		position: absolute;
		border-radius: 50%;
		top: calc(50% - 20px);
		left: 0;
			right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		height: 50px;
		padding: 20px;
		border: 4px solid transparent;
		border-left: 4px solid $primary;
		animation: anim1 2s linear 0s infinite;
	}
	.circle4{
		position: absolute;
		border-radius: 50%;
		top: calc(50% - 30px);
		left: 0;
			right: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 30px;
		width: 50px;
		height: 50px;
		border: 4px solid transparent;
		border-bottom: 4px solid $secondary;
		animation: anim2 2s linear 0s infinite;
	}
	.loader-text{
		position: absolute;
		bottom: calc(50% - 150px);
		left: calc(50% - 100px);
		text-transform: uppercase;
		font-size: 1.4em;
		color: $secondary;
		span{
			color: $primary;
		}
	}
}



@keyframes anim1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


@keyframes anim2{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
