/* Coolors Exported Palette - coolors.co/aaae7f-d52d09-d0d6b3-f7f7f7-efefef */


/* RGB */
$color1: #000;
$color2: #aaa;
$color3: rgba(208, 214, 179, 1);
$color4: rgba(247, 247, 247, 1);
$color5: rgba(239, 239, 239, 1);