@import 'loader';

$red: #e04643;
$back: #000;
$front: $red;
$k-anime1: cubic-bezier(0,.68,.54,.97);


html{
	margin: 0;
	padding: 0;
	height: 100%;
	body{
		margin: 0;
		padding: 0;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		background-color: #fff;
		text-align: center;
		height: 100vh;
		vertical-align: middle;
		overflow-x: hidden;
		.main{
			display: none;
			background-image: url('../images/background.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100vw;
			height: 100vh;
			.k-nav{
				color: #fff !important;
				transition: color 1s linear 0s;
				transition: background-color 1s linear 0s;
				background-color: rgba(255, 255, 255, .0);
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				margin: 0px auto;
				padding: 50px 0 20px 0;
				z-index: 10;
				div{
					display: inline;
					font-weight: bolder;
					font-size: 20px;
					padding: 0 20px;
					a{
						&:hover{
							border-bottom: 3px solid #fff;
							padding-bottom: 5px;
						}
					}
				}
			}

			.overlay{
				color: #fff;
				text-transform: uppercase;
				background-color: rgba(0, 0, 0 , .8);
				width: 100vw;
				height: 100vh;
				left: 0;
				top: 0;
				.welcome{
					display: inline-block;
					border: 3px solid #fff;
					padding: 10px 30px;
					margin-top: 250px;
					.whatido1, .whatido2, .whatido3{
						display: hidden;
					}
				}
				.hand{
					position: absolute;
					color: #fff;
					bottom: 50px;
					left: 50%;
					right: 50%;
					animation: updown 4s linear 1s infinite;
				}

			}
		}
		.about{
			display: none;
			font-size: 20px;
			top: 100vh;
			left: 0;
			background-color: #fff;
			color: $color1;
			width: 100%;
			.container{
				margin-top: 50px;
				margin-bottom: 70px;
				#whatido, #whoiam{
					margin-top: 50px;
					h3{
						color: #666;
					}
				}
			}
		}
		.skills{
			display: none;
			font-size: 20px;
			color: $color1;
			padding-top: 50px;
			padding-bottom: 70px;
			background-color: $color3;
			div{
				margin-top: 50px;
				h3{
					color: #666;
				}
			}
		}
		.works{
			display: none;
			font-size: 20px;
			color: $color1;
			padding: 50px 70px 70px 70px;
			background-color: $color5;
			.first{
				margin-top: 50px;
				padding-top: 30px;
				h3{
					color: #666;
				}
			}
		}

		.contact{
			display: none;
			font-size: 20px;
			color: $color4;
			padding-top: 50px;
			padding-bottom: 30px;
			background-color: $color3;
			div{
				margin-top: 50px;
				h3{
					color: #666;
				}
			}
		}

	}
}

.title{
	border-bottom: 3px solid #000;
	display: inline;
	text-transform: uppercase;
}

.navdown{	
	background-color: rgb(255, 255, 255) !important;
	color: #000 !important;
	padding-top: 30px !important;
	a{
		color: #000 !important;
		&:hover{
			border-bottom: 3px solid #000 !important;
			padding-bottom: 5px;
		}
	}
}

.text-white{
	color: #fff;
}

.text-red{
	color: $red;
}

.mobile{
	display: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.social{
	margin: 10px;
	i{
		padding: 15px;
		border: 5px dashed #fff;
		transition: ease 3s;
		&:hover{
			color: #000;
			border: 5px solid #000;
		}
	}
}

/*** CARD ***/
.card {
    /* Add shadows to create the "card" effect */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    img{
    	width: 100%;
    	height: 400px !important;
    }
    .label{
    	position: absolute;
    	right: 0;
    	font-weight: bold;
    	font-size: 25px;
	    background-color: #f22525;
	    color: #fff;
	    padding: 10px;
	    text-transform: uppercase;
	}
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    color: $color2;
}



/*** GRID ***/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
/* For IE 6/7 */
.group {
	zoom:1;
}
.col-1 {
	width: 100%;
}
.col-2 {
	width: 49.2%;
}





/*** KEYFRAMES ***/
@keyframes updown{
	0%{
		bottom: 50px;
	}
	50%{
		bottom: 30px;
	}
	100%{
		bottom: 50px;
	}
}


@media only screen and (max-width: 1000px) {
	.mobile{
		display: inline;
	}
	.desktop{
		display: none;
	}
	body{
		font-size: 12px;
		.main{
			.overlay{
				.welcome{
					margin: 40px;
				}
			}
		}
		.works{
			.card{
				margin-bottom: 20px;
				padding: auto;
				img{
					height: 200px !important;
				}
			}

		}
	}
	.circle1{
		top: 0%;
	}
	.circle2{
		top: calc(0% - 10px);
	}
	.circle3{
		top: calc(0% - 20px);
	}
	.circle4{
		top: calc(0% - 30px);
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 680px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.col-1, .col-2 {
		width: 100%;
	}
}
