.skills {
    padding: 80px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 16px;
    color: #999;
    background-color: rgba(232, 232, 232, 1);
}

.skills h2 {
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 40px;
}

.skills .container h3 {
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 15px;
    color: #4d4d4d;
    font-size: 1.5rem;
}

.skills .p {
    margin-bottom: 0 !important;
}

.skills .col-md-4 {
    text-align: left;
}

.skills .fab, .skills .fas {
    color: #507f7f !important;
    padding-bottom: 25px;
}

.skills .badge-primary {
    background-color: #507f7f !important;
    text-transform: uppercase;
}