.footer {
    position: relative;
    color: rgba(232, 232, 232, 1);
    background-image: url('../../images/sale.jpg') !important;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    bottom: 0;
    letter-spacing: 2px;
    font-size: 22px;
}

.footer h2 {
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    padding-left: 10px;
    color: #FCE77D;
}

.footer ul {
    text-align: left;
    list-style: none;
    margin-top: 20px;
    padding: 10px;
}

.footer li {
    padding-bottom: 10px;
}

.footer .overlayer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1D1B1BF1;
}

.copyleft-footer {
    width: 100vw;
    position: absolute;
    padding: 20px;
    padding-left: 60px;
    bottom: 0;
    font-size: 16px;
    text-align: left;
    letter-spacing: 3px;
}

.fa-heart, a {
    color: #F96167 !important;
}

@media only screen and (max-width: 600px) {

    .footer .overlayer .row {
        font-size: 15px;
        margin-bottom: 50px;
    }
    .copyleft-footer {
        padding-left: 10px;
    }
}