.who .row {
    background-color: #1D1B1B;
    color: #F7F7F9;
}

.who .who-img {
    position: relative;
    background-image: url('../../images/karim.jpg') !important;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

.who a {
    color: #F7F7F9;
}

.who-text {
    padding: 80px;
    display: -webkit-flex;
    display: flex;
    text-align: left;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: normal;
}

.who .text-primary {
    color: #F96167 !important;
    text-transform: uppercase;
    width: 150px !important;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .who .text-primary {
        width: auto !important;
    }
}